@charset "utf-8";
@use "../css/common" as common;
@use "../css/basic/basic_style_01";


main {
  display:flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;

  width:100vw;
  height:100vh;
  overflow:auto;
  padding-top:5%;

  article{
    width:90%;
    margin: 0 auto;
  }

  & > section {
    min-width:90%;
    height:20%;
  }

  span.small {
    font-size:0.8rem;
  }
  span.markline {
    background-color: #888553;
  }

}


button {
  background-color: #333;
  border:1px solid #fff;
  color:#fff;
}


/*
button.sample:hover {
  background-color: #fff;
  border:1px solid aqua;
  color:#333;
}
*/

.example{

  border: 1px solid #444;
  margin-bottom: 2rem;
  padding: 1rem;


  // button sample
  &.type01 {
    display: flex;
    flex-direction: row;
    gap: 0 4rem;
  
    .button_sample {
      padding: 1rem;
  
      h4 {
        line-height:2rem;
        margin-bottom:1rem;
      }

      button {
        padding:1rem;
      }
        
    }
  
  }



  // moving sample
  &.type02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;

    .description {
      width: 90%;
    }

    .pattern {
      min-width:90%;
      min-height: 5rem;
      border-bottom: 1px dotted #ccc ;
      padding-bottom: 1rem;
      margin-bottom: 1rem;

      .slide-area {
        position: relative;
        top: 0;
        left:0;
        width: 100%;
        min-height: 3rem;
        background-color: #ccc;
        margin-bottom:1rem;

        .slide-item {
          position: absolute;
          top:50%;
          left:0;
          width: 2rem;
          height:2rem;
          background-color: blue;
          margin-top: -1rem;
        }

        
      }

      .slide-switch {
        button {
          width:auto;
          height: 2rem;
          line-height: 1.2rem;
          padding: 0 1rem;
          transition-property: all;
          transition-duration: 300ms;
          transition-timing-function: linear;
          
          &:nth-child(1){
            margin-right:1rem;
          }
          &:hover {
            background-color: #fff;
            color:#444;
          }
          &:active {
            background-color: transparent;
            color: #fff;
          }
        }
      }

    }
  } // .type02



  // example03 __ header menu sample
  &.type03 {

    // wrapper of example list block
    .list_sample {
      border: 1px dotted #444;
      margin-bottom: 1rem;
      padding: 2rem;

      ul {
        position: relative;// positioning for offset calc
        top:0; left:0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0 7%;
        width: 100%;
        // reset browser style
        margin:0;
        padding:0;
        border:none;

        li {
          width: auto;
          box-sizing: border-box;
          line-height: 2rem;
          padding: 1rem 0 0.5rem 0;
          text-align: center;  
          &:hover {
            cursor: pointer;
          }
        }
        
      }
      .flowBorder_wrapper{
        position:relative;
        top:0;
        left:0;
        width: 100%;
        height: 2px;
        // floating border element
        // div {
        .flowBorder {
          position: absolute;
          top:0;
          left:0;
          width: 1rem;
          height:2px;
          background-color: #fff;
          border-radius: 10%;
          box-sizing: border-box;
          visibility: hidden;
          /*
          moving flowBorder by plain javascript
          transition-property: all;
          transition-duration: 200ms;
          transition-timing-function: ease-in-out;
          */
        }
        }
    }

  }// type03

}

